In [96]:
import pandas as pd
import numpy as np

In [97]:
# In this test we will only use the Top100 games
# (1) We select the columns we need
# (2) We filter through the Top100
# (3) We joined the two datasets
# (4) We count the number of categories
# (5) If necessary, we establish a relationship to see which categories
# (6) We made the matrix with numerical information
# (7) Cosine similarity and euclidean distance based on a game

folder= './Data'

In [121]:
#Content Dataset

df_bgame = pd.read_csv(folder+'/BggGames.csv', usecols= ['bgg_id','name','category','rank'])

df_bgame.head(10)

   bgg_id                name        category    rank
0       1          Die Macher  1021,1026,1001   262.0
1       2        Dragonmaster       1002,1010  3473.0
2       3             Samurai       1009,1035   199.0
3       4      Tal der Könige            1050  4584.0
4       5             Acquire            1021   254.0
5       6  Mare Mediterraneum       1015,1008  9415.0
6       7           Cathedral            1009  1776.0
7       8   Lords of Creation       1015,1010  7799.0
8       9        El Caballero            1020  2521.0
9      10           Elfenland       1010,1097   972.0

In [122]:
df_bgame100= df_bgame[df_bgame['rank']<=100].sort_values('rank')
df_bgame100.head(10)

,bgg_id,name,category,rank
66090,174430,Gloomhaven,"1022,1020,1010,1046,1047",1.0
62878,161936,Pandemic Legacy: Season 1,"1084,2145",2.0
76339,224517,Brass: Birmingham,"1021,1088,1011",3.0
64259,167791,Terraforming Mars,"1021,1084,1088,1016,1113,1086",4.0
68241,182028,Through the Ages: A New Story of Civilization,"1002,1015,1021",5.0
78218,233078,Twilight Imperium (Fourth Edition),"1015,1021,1026,1001,1016,1113,1019",6.0
75669,220308,Gaia Project,"1021,1016,1113,1086",7.0
69555,187645,Star Wars: Rebellion,"1102,1046,1047,1064,1016,1019",8.0
10825,12333,Twilight Struggle,"1069,1001,1019",9.0
70890,193738,Great Western Trail,"1055,1089",10.0

In [123]:
#Score Dataset

df_score = pd.read_csv(folder+'/20200709-000000.csv')

print('Total score: ' + str(df_score.bgg_id.nunique()))
df_score.head()

Total score: 19130

   rank  bgg_id  score
0     1  174430  8.573
1     2  161936  8.472
2     3  224517  8.290
3     4  167791  8.280
4     5  182028  8.216

In [124]:
df_score100= df_score[df_score['rank']<=100].sort_values('rank')
df_score100.head(10)

   rank  bgg_id  score
0     1  174430  8.573
1     2  161936  8.472
2     3  224517  8.290
3     4  167791  8.280
4     5  182028  8.216
5     6  233078  8.205
6     7  187645  8.158
7     8  220308  8.158
8     9   12333  8.149
9    10  193738  8.108

In [125]:
df_game100= df_bgame100.merge(df_score100, left_on='bgg_id', right_on='bgg_id')
df_game100.head()

,bgg_id,name,category,rank_x,rank_y,score
0,174430,Gloomhaven,"1022,1020,1010,1046,1047",1.0,1,8.573
1,161936,Pandemic Legacy: Season 1,"1084,2145",2.0,2,8.472
2,224517,Brass: Birmingham,"1021,1088,1011",3.0,3,8.290
3,167791,Terraforming Mars,"1021,1084,1088,1016,1113,1086",4.0,4,8.280
4,182028,Through the Ages: A New Story of Civilization,"1002,1015,1021",5.0,5,8.216

In [126]:
category_num= ','.join(df_game100.category).split(',')

print(np.unique(category_num))
print('Total Categories in Top 100 Boardgames: ' + str(len(np.unique(category_num))))

['1001' '1002' '1008' '1009' '1010' '1011' '1013' '1015' '1016' '1017'
 '1019' '1020' '1021' '1022' '1023' '1024' '1025' '1026' '1028' '1029'
 '1030' '1032' '1034' '1035' '1036' '1039' '1040' '1044' '1046' '1047'
 '1050' '1052' '1055' '1064' '1069' '1070' '1081' '1082' '1084' '1086'
 '1088' '1089' '1093' '1094' '1097' '1101' '1102' '1113' '1115' '1116'
 '1118' '2145' '2650' '2710' '2726']
Total Categories in Top 100 Boardgames: 55

In [127]:
df_category= df_game100.copy(deep= True)
df_category

,bgg_id,name,category,rank_x,rank_y,score
0,174430,Gloomhaven,"1022,1020,1010,1046,1047",1.0,1,8.573
1,161936,Pandemic Legacy: Season 1,"1084,2145",2.0,2,8.472
2,224517,Brass: Birmingham,"1021,1088,1011",3.0,3,8.290
3,167791,Terraforming Mars,"1021,1084,1088,1016,1113,1086",4.0,4,8.280
4,182028,Through the Ages: A New Story of Civilization,"1002,1015,1021",5.0,5,8.216
...,...,...,...,...,...,...
95,103885,Star Wars: X-Wing Miniatures Game,"2650,1023,1044,1047,1064,1016,1019",96.0,95,7.490
96,196340,Yokohama,1021,97.0,97,7.487
97,269385,The Lord of the Rings: Journeys in Middle-earth,"1022,1010,1046,1047,1093",98.0,98,7.482
98,175155,Forbidden Stars,"1023,1046,1047,1016,1019",99.0,99,7.478
99,34635,Stone Age,"1017,1021,1036",100.0,100,7.468

In [128]:
df_category= df_game100.copy(deep= True)

df_category['Abstract Strategy']= df_category.category.apply(lambda x:1  if '1009' in x else 0)
df_category['Action / Dexterity']= df_category.category.apply(lambda x: 1 if '1032' in x else 0)
df_category['Adventure']= df_category.category.apply(lambda x: 1 if '1022' in x else 0)
df_category['Age of Reason']= df_category.category.apply(lambda x: 1 if '2726' in x else 0)
df_category['American West']= df_category.category.apply(lambda x: 1 if '1055' in x else 0)
df_category['Ancient']= df_category.category.apply(lambda x: 1 if '1050' in x else 0)
df_category['Animals']= df_category.category.apply(lambda x: 1 if '1089' in x else 0)
df_category['Arabian']= df_category.category.apply(lambda x: 1 if '1052' in x else 0)
df_category['Aviation / Flight']= df_category.category.apply(lambda x: 1 if '2650' in x else 0)
df_category['Bluffing']= df_category.category.apply(lambda x: 1 if '1023' in x else 0)
df_category['Card Game']= df_category.category.apply(lambda x: 1 if '1002' in x else 0)
df_category['City Building']= df_category.category.apply(lambda x: 1 if '1029' in x else 0)
df_category['Civil War']= df_category.category.apply(lambda x: 1 if '1102' in x else 0)
df_category['Civilization']= df_category.category.apply(lambda x: 1 if '1015' in x else 0)
df_category['Collectible Components']= df_category.category.apply(lambda x: 1 if '1044' in x else 0)
df_category['Comic Book / Strip']= df_category.category.apply(lambda x: 1 if '1116' in x else 0)
df_category['Deduction']= df_category.category.apply(lambda x: 1 if '1039' in x else 0)
df_category['Dice']= df_category.category.apply(lambda x: 1 if '1017' in x else 0)
df_category['Economic']= df_category.category.apply(lambda x: 1 if '1021' in x else 0)
df_category['Educational']= df_category.category.apply(lambda x: 1 if '1094' in x else 0)
df_category['Environmental']= df_category.category.apply(lambda x: 1 if '1084' in x else 0)
df_category['Exploration']= df_category.category.apply(lambda x: 1 if '1020' in x else 0)
df_category['Fantasy']= df_category.category.apply(lambda x: 1 if '1010' in x else 0)
df_category['Farming']= df_category.category.apply(lambda x: 1 if '1013' in x else 0)
df_category['Fighting']= df_category.category.apply(lambda x: 1 if '1046' in x else 0)
df_category['Horror']= df_category.category.apply(lambda x: 1 if '1024' in x else 0)
df_category['Industry / Manufacturing']= df_category.category.apply(lambda x: 1 if '1088' in x else 0)
df_category['Mature / Adult']= df_category.category.apply(lambda x: 1 if '1118' in x else 0)
df_category['Medical']= df_category.category.apply(lambda x: 1 if '2145' in x else 0)
df_category['Medieval']= df_category.category.apply(lambda x: 1 if '1035' in x else 0)
df_category['Miniatures']= df_category.category.apply(lambda x: 1 if '1047' in x else 0)
df_category['Modern Warfare']= df_category.category.apply(lambda x: 1 if '1069' in x else 0)
df_category['Movies / TV / Radio theme']= df_category.category.apply(lambda x: 1 if '1064' in x else 0)
df_category['Murder/Mystery']= df_category.category.apply(lambda x: 1 if '1040' in x else 0)
df_category['Mythology']= df_category.category.apply(lambda x: 1 if '1082' in x else 0)
df_category['Negotiation']= df_category.category.apply(lambda x: 1 if '1026' in x else 0)
df_category['Novel-based']= df_category.category.apply(lambda x: 1 if '1093' in x else 0)
df_category['Party Game']= df_category.category.apply(lambda x: 1 if '1030' in x else 0)
df_category['Pike and Shot']= df_category.category.apply(lambda x: 1 if '1070' in x else 0)
df_category['Political']= df_category.category.apply(lambda x: 1 if '1001' in x else 0)
df_category['Post-Napoleonic']= df_category.category.apply(lambda x: 1 if '2710' in x else 0)
df_category['Prehistoric']= df_category.category.apply(lambda x: 1 if '1036' in x else 0)
df_category['Puzzle']= df_category.category.apply(lambda x: 1 if '1028' in x else 0)
df_category['Religious']= df_category.category.apply(lambda x: 1 if '1115' in x else 0)
df_category['Renaissance']= df_category.category.apply(lambda x: 1 if '1008' in x else 0)
df_category['Science Fiction']= df_category.category.apply(lambda x: 1 if '1016' in x else 0)
df_category['Space Exploration']= df_category.category.apply(lambda x: 1 if '1113' in x else 0)
df_category['Spies/Secret Agents']= df_category.category.apply(lambda x: 1 if '1081' in x else 0)
df_category['Territory Building']= df_category.category.apply(lambda x: 1 if '1086' in x else 0)
df_category['Trains']= df_category.category.apply(lambda x: 1 if '1034' in x else 0)
df_category['Transportation']= df_category.category.apply(lambda x: 1 if '1011' in x else 0)
df_category['Travel']= df_category.category.apply(lambda x: 1 if '1097' in x else 0)
df_category['Video Game Theme']= df_category.category.apply(lambda x: 1 if '1101' in x else 0)
df_category['Wargame']= df_category.category.apply(lambda x: 1 if '1019' in x else 0)
df_category['Word Game']= df_category.category.apply(lambda x: 1 if '1025' in x else 0)

df_category = df_category.drop(['category','rank_x','rank_y'], axis=1)
df_category.head(10)

,bgg_id,name,score,Abstract Strategy,Action / Dexterity,Adventure,Age of Reason,American West,Ancient,Animals,...,Science Fiction,Space Exploration,Spies/Secret Agents,Territory Building,Trains,Transportation,Travel,Video Game Theme,Wargame,Word Game
0,174430,Gloomhaven,8.573,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,161936,Pandemic Legacy: Season 1,8.472,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,224517,Brass: Birmingham,8.290,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,167791,Terraforming Mars,8.280,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,0
4,182028,Through the Ages: A New Story of Civilization,8.216,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,233078,Twilight Imperium (Fourth Edition),8.205,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
6,220308,Gaia Project,8.158,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,0
7,187645,Star Wars: Rebellion,8.158,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
8,12333,Twilight Struggle,8.149,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,193738,Great Western Trail,8.108,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [129]:
df_category.columns

Index(['bgg_id', 'name', 'score', 'Abstract Strategy', 'Action / Dexterity',
       'Adventure', 'Age of Reason', 'American West', 'Ancient', 'Animals',
       'Arabian', 'Aviation / Flight', 'Bluffing', 'Card Game',
       'City Building', 'Civil War', 'Civilization', 'Collectible Components',
       'Comic Book / Strip', 'Deduction', 'Dice', 'Economic', 'Educational',
       'Environmental', 'Exploration', 'Fantasy', 'Farming', 'Fighting',
       'Horror', 'Industry / Manufacturing', 'Mature / Adult', 'Medical',
       'Medieval', 'Miniatures', 'Modern Warfare', 'Movies / TV / Radio theme',
       'Murder/Mystery', 'Mythology', 'Negotiation', 'Novel-based',
       'Party Game', 'Pike and Shot', 'Political', 'Post-Napoleonic',
       'Prehistoric', 'Puzzle', 'Religious', 'Renaissance', 'Science Fiction',
       'Space Exploration', 'Spies/Secret Agents', 'Territory Building',
       'Trains', 'Transportation', 'Travel', 'Video Game Theme', 'Wargame',
       'Word Game'],
      dtype='object')

In [132]:
df_score_v = df_category.drop(['bgg_id','name'], axis=1)
df_score_v= df_score_v.multiply(df_score_v['score'],axis="index")
df_score_v= df_score_v.drop('score', axis=1)
df_score_v

,Abstract Strategy,Action / Dexterity,Adventure,Age of Reason,American West,Ancient,Animals,Arabian,Aviation / Flight,Bluffing,...,Science Fiction,Space Exploration,Spies/Secret Agents,Territory Building,Trains,Transportation,Travel,Video Game Theme,Wargame,Word Game
0,0.0,0.0,8.573,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
1,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
2,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,8.29,0.0,0.0,0.000,0.0
3,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,8.280,8.28,0.0,8.28,0.0,0.00,0.0,0.0,0.000,0.0
4,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,7.49,7.490,...,7.490,0.00,0.0,0.00,0.0,0.00,0.0,0.0,7.490,0.0
96,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
97,0.0,0.0,7.482,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
98,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,7.478,...,7.478,0.00,0.0,0.00,0.0,0.00,0.0,0.0,7.478,0.0
99,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0

In [134]:
df_score_v2= df_score_v.sum()/len(df_score_v)
df_score_v2= df_score_v2.reset_index()
df_score_v2.head(10)

                index        0
0   Abstract Strategy  0.15290
1  Action / Dexterity  0.07590
2           Adventure  1.17140
3       Age of Reason  0.08057
4       American West  0.08108
5             Ancient  0.61550
6             Animals  0.70157
7             Arabian  0.07633
8   Aviation / Flight  0.07490
9            Bluffing  0.37824

In [78]:
df_score_v.sum() / len(df_score_v)

Abstract Strategy            0.15290
Action / Dexterity           0.07590
Adventure                    1.17140
Age of Reason                0.08057
American West                0.08108
Ancient                      0.61550
Animals                      0.70157
Arabian                      0.07633
Aviation / Flight            0.07490
Bluffing                     0.37824
Card Game                    1.16154
City Building                0.92210
Civil War                    0.08158
Civilization                 1.01285
Collectible Components       0.30687
Comic Book / Strip           0.07585
Deduction                    0.22674
Dice                         0.53421
Economic                     2.95846
Educational                  0.07928
Environmental                0.40268
Exploration                  0.62773
Fantasy                      1.71424
Farming                      0.62246
Fighting                     1.40578
Horror                       0.38997
Industry / Manufacturing     0.86226
Mature / Adult               0.07803
Medical                      0.31321
Medieval                     1.07074
Miniatures                   1.01356
Modern Warfare               0.08149
Movies / TV / Radio theme    0.30988
Murder/Mystery               0.15376
Mythology                    0.61671
Negotiation                  0.23403
Novel-based                  0.46319
Party Game                   0.07556
Pike and Shot                0.30460
Political                    0.46672
Post-Napoleonic              0.07540
Prehistoric                  0.15110
Puzzle                       0.23306
Religious                    0.07888
Renaissance                  0.38504
Science Fiction              1.55573
Space Exploration            0.70263
Spies/Secret Agents          0.22674
Territory Building           0.79380
Trains                       0.07552
Transportation               0.23878
Travel                       0.23184
Video Game Theme             0.07762
Wargame                      0.93558
Word Game                    0.07556
dtype: float64

In [79]:
df_score_v

,Abstract Strategy,Action / Dexterity,Adventure,Age of Reason,American West,Ancient,Animals,Arabian,Aviation / Flight,Bluffing,...,Science Fiction,Space Exploration,Spies/Secret Agents,Territory Building,Trains,Transportation,Travel,Video Game Theme,Wargame,Word Game
0,0.0,0.0,8.573,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
1,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
2,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,8.29,0.0,0.0,0.000,0.0
3,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,8.280,8.28,0.0,8.28,0.0,0.00,0.0,0.0,0.000,0.0
4,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,7.49,7.490,...,7.490,0.00,0.0,0.00,0.0,0.00,0.0,0.0,7.490,0.0
96,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
97,0.0,0.0,7.482,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0
98,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,7.478,...,7.478,0.00,0.0,0.00,0.0,0.00,0.0,0.0,7.478,0.0
99,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.000,...,0.000,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.000,0.0