In [1]:
import pandas as pd
import numpy as np

In [2]:
folder= './Data'

df_bgame = pd.read_csv(folder+'/BggGames.csv')

print('Total of boardgames: ' + str(df_bgame.bgg_id.nunique()))
df_bgame.head()

Total of boardgames: 95530

,bgg_id,name,year,game_type,designer,artist,publisher,min_players,max_players,min_players_rec,...,stddev_rating,bayes_rating,complexity,language_dependency,bga_id,dbpedia_id,luding_id,spielen_id,wikidata_id,wikipedia_id
0,1,Die Macher,1986.0,5497,1,"12517,4959","133,2,2726,15108,39249,11652,5382,8147",3.0,5.0,4.0,...,1.58914,7.14730,4.3347,1.152778,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Dragonmaster,1981.0,5497,8384,12424,"64,20",3.0,4.0,3.0,...,1.44458,5.80514,1.9630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Samurai,1998.0,5497,2,11883,"17,133,267,29,7340,7335,41,2973,4617,1391,8291...",2.0,4.0,2.0,...,1.18374,7.24612,2.4916,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Tal der Könige,1992.0,NaN,8008,2277,37,2.0,4.0,2.0,...,1.23365,5.70180,2.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Acquire,1964.0,5497,4,"12658,18317","92,5,4871,3082,858,2962,5392,4668,38,4622,7107",2.0,6.0,3.0,...,1.33541,7.16306,2.5057,1.090278,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_bgame.columns

Index(['bgg_id', 'name', 'year', 'game_type', 'designer', 'artist',
       'publisher', 'min_players', 'max_players', 'min_players_rec',
       'max_players_rec', 'min_players_best', 'max_players_best', 'min_age',
       'min_age_rec', 'min_time', 'max_time', 'category', 'mechanic',
       'cooperative', 'compilation', 'compilation_of', 'family',
       'implementation', 'integration', 'rank', 'num_votes', 'avg_rating',
       'stddev_rating', 'bayes_rating', 'complexity', 'language_dependency',
       'bga_id', 'dbpedia_id', 'luding_id', 'spielen_id', 'wikidata_id',
       'wikipedia_id'],
      dtype='object')

In [4]:
# In this test we will only use the Top100 games
# (1) We select the columns we need
# (2) We filter through the Top100
# (3) We count the number of categories
# (4) If necessary, we establish a relationship to see which categories
# (5) We made the matrix with numerical information

In [5]:
df_bgame = pd.read_csv(folder+'/BggGames.csv', usecols= ['bgg_id','name','category','rank'])

df_bgame.head(10)

   bgg_id                name        category    rank
0       1          Die Macher  1021,1026,1001   262.0
1       2        Dragonmaster       1002,1010  3473.0
2       3             Samurai       1009,1035   199.0
3       4      Tal der Könige            1050  4584.0
4       5             Acquire            1021   254.0
5       6  Mare Mediterraneum       1015,1008  9415.0
6       7           Cathedral            1009  1776.0
7       8   Lords of Creation       1015,1010  7799.0
8       9        El Caballero            1020  2521.0
9      10           Elfenland       1010,1097   972.0

In [6]:
df_bgame100= df_bgame[df_bgame['rank']<=100].sort_values('rank')
df_bgame100

,bgg_id,name,category,rank
66090,174430,Gloomhaven,"1022,1020,1010,1046,1047",1.0
62878,161936,Pandemic Legacy: Season 1,"1084,2145",2.0
76339,224517,Brass: Birmingham,"1021,1088,1011",3.0
64259,167791,Terraforming Mars,"1021,1084,1088,1016,1113,1086",4.0
68241,182028,Through the Ages: A New Story of Civilization,"1002,1015,1021",5.0
...,...,...,...,...
47996,103885,Star Wars: X-Wing Miniatures Game,"2650,1023,1044,1047,1064,1016,1019",96.0
71415,196340,Yokohama,1021,97.0
85820,269385,The Lord of the Rings: Journeys in Middle-earth,"1022,1010,1046,1047,1093",98.0
66279,175155,Forbidden Stars,"1023,1046,1047,1016,1019",99.0
30098,34635,Stone Age,"1017,1021,1036",100.0

In [8]:
category_num= ','.join(df_bgame100.category).split(',')

print(np.unique(category_num))
print('Total Categories in Top 100 Boardgames: ' + str(len(np.unique(category_num))))

['1001' '1002' '1008' '1009' '1010' '1011' '1013' '1015' '1016' '1017'
 '1019' '1020' '1021' '1022' '1023' '1024' '1025' '1026' '1028' '1029'
 '1030' '1032' '1034' '1035' '1036' '1039' '1040' '1044' '1046' '1047'
 '1050' '1052' '1055' '1064' '1069' '1070' '1081' '1082' '1084' '1086'
 '1088' '1089' '1093' '1094' '1097' '1101' '1102' '1113' '1115' '1116'
 '1118' '2145' '2650' '2710' '2726']
Total Categories in Top 100 Boardgames: 55

In [21]:
df_cat = pd.read_csv(folder+'/CategoriasID.csv',sep=';', usecols=['Category','IdCat'])
df_cat.head(10)

                     Category   IdCat
0           Abstract Strategy  '1009'
1          Action / Dexterity    1032
2                   Adventure    1022
3               Age of Reason    2726
4          American Civil War    1048
5        American Indian Wars    1108
6  American Revolutionary War    1075
7               American West    1055
8                     Ancient    1050
9                     Animals    1089

In [24]:
a= list(df_cat.Category)
b= list(df_cat.IdCat)
d = dict(zip(b,a))
d

{"'1009'": 'Abstract Strategy',
 '1032': 'Action / Dexterity',
 '1022': 'Adventure',
 '2726': 'Age of Reason',
 '1048': 'American Civil War',
 '1108': 'American Indian Wars',
 '1075': 'American Revolutionary War',
 '1055': 'American West',
 '1050': 'Ancient',
 '1089': 'Animals',
 '1052': 'Arabian',
 '2650': 'Aviation / Flight',
 '1023': 'Bluffing',
 '1117': 'Book',
 '1002': 'Card Game',
 '1041': "Children's Game",
 '1029': 'City Building',
 '1102': 'Civil War',
 '1015': 'Civilization',
 '1044': 'Collectible Components',
 '1116': 'Comic Book / Strip',
 '1039': 'Deduction',
 '1017': 'Dice',
 '1021': 'Economic',
 '1094': 'Educational',
 '1072': 'Electronic',
 '1084': 'Environmental',
 '1042': 'Expansion for Base-game',
 '1020': 'Exploration',
 '2687': 'Fan Expansion',
 '1010': 'Fantasy',
 '1013': 'Farming',
 '1046': 'Fighting',
 '1119': 'Game System',
 '1024': 'Horror',
 '1079': 'Humor',
 '1088': 'Industry / Manufacturing',
 '1091': 'Korean War',
 '1033': 'Mafia',
 '1104': 'Math',
 '1118': 'Mature / Adult',
 '1059': 'Maze',
 '2145': 'Medical',
 '1035': 'Medieval',
 '1045': 'Memory',
 '1047': 'Miniatures',
 '1069': 'Modern Warfare',
 '1064': 'Movies / TV / Radio theme',
 '1040': 'Murder/Mystery',
 '1054': 'Music',
 '1082': 'Mythology',
 '1051': 'Napoleonic',
 '1008': 'Renaissance',
 '1026': 'Negotiation',
 '1093': 'Novel-based',
 '1098': 'Number',
 '1030': 'Party Game',
 '1070': 'Pike and Shot',
 '1090': 'Pirates',
 '1001': 'Political',
 '2710': 'Post-Napoleonic',
 '1036': 'Prehistoric',
 '1120': 'Print & Play',
 '1028': 'Puzzle',
 '1031': 'Racing',
 '1037': 'Real-time',
 '1115': 'Religious',
 '1016': 'Science Fiction',
 '1113': 'Space Exploration',
 '1081': 'Spies/Secret Agents',
 '1038': 'Sports',
 '1086': 'Territory Building',
 '1034': 'Trains',
 '1011': 'Transportation',
 '1097': 'Travel',
 '1027': 'Trivia',
 '1101': 'Video Game Theme',
 '1109': 'Vietnam War',
 '1019': 'Wargame',
 '1025': 'Word Game',
 '1065': 'World War I',
 '1049': 'World War II',
 '2481': 'Zombies'}

In [23]:
print([d.get(n, n) for n in category_num])

['Adventure', 'Exploration', 'Fantasy', 'Fighting', 'Miniatures', 'Environmental', 'Medical', 'Economic', 'Industry / Manufacturing', 'Transportation', 'Economic', 'Environmental', 'Industry / Manufacturing', 'Science Fiction', 'Space Exploration', 'Territory Building', 'Card Game', 'Civilization', 'Economic', 'Civilization', 'Economic', 'Negotiation', 'Political', 'Science Fiction', 'Space Exploration', 'Wargame', 'Economic', 'Science Fiction', 'Space Exploration', 'Territory Building', 'Civil War', 'Fighting', 'Miniatures', 'Movies / TV / Radio theme', 'Science Fiction', 'Wargame', 'Modern Warfare', 'Political', 'Wargame', 'American West', 'Animals', 'Economic', 'Fighting', 'Science Fiction', 'Territory Building', 'Adventure', 'Fantasy', 'Fighting', 'Miniatures', 'Novel-based', 'Territory Building', 'Wargame', 'Age of Reason', 'Environmental', 'Fantasy', 'Fighting', 'Mythology', 'Territory Building', 'Dice', 'Medieval', 'Territory Building', 'Civilization', 'Economic', 'Fantasy', 'Territory Building', 'Ancient', 'Card Game', 'City Building', 'Civilization', 'Ancient', 'Economic', 'Renaissance', 'Economic', 'Industry / Manufacturing', 'Transportation', 'Adventure', 'Card Game', 'Collectible Components', 'Fantasy', 'Horror', 'Novel-based', 'Animals', 'Card Game', 'Educational', 'Economic', 'Farming', 'Adventure', 'Card Game', 'Exploration', 'Science Fiction', 'Economic', 'Industry / Manufacturing', 'Medieval', 'Puzzle', 'Adventure', 'Exploration', 'Fantasy', 'Fighting', 'Medieval', 'Religious', 'Travel', 'City Building', 'Economic', 'Farming', 'Animals', 'Economic', 'Fantasy', 'Farming', 'Economic', 'Industry / Manufacturing', 'Animals', 'Economic', 'Farming', 'Adventure', 'Exploration', 'Fantasy', 'Fighting', 'Horror', 'Miniatures', 'Murder/Mystery', 'Puzzle', 'Adventure', 'Horror', 'Miniatures', 'Science Fiction', 'Fantasy', 'Fighting', 'Mythology', 'Environmental', 'Exploration', 'Medical', 'Animals', 'Fantasy', 'Wargame', 'Adventure', 'Fantasy', 'Horror', 'Mature / Adult', 'Miniatures', 'Mythology', 'Economic', 'Industry / Manufacturing', 'Fantasy', 'Fighting', 'Miniatures', 'Video Game Theme', 'Adventure', 'Fighting', 'Miniatures', 'Movies / TV / Radio theme', 'Science Fiction', 'Wargame', 'Ancient', 'Civilization', 'Economic', 'Farming', 'Mythology', 'Civilization', 'Economic', 'Animals', 'Card Game', 'City Building', 'Fantasy', 'Economic', 'Farming', 'Civilization', 'Fighting', 'Science Fiction', 'Space Exploration', 'Wargame', 'City Building', 'Economic', 'Industry / Manufacturing', 'Renaissance', '1009', 'Pike and Shot', 'Dice', 'Economic', 'Medieval', 'Travel', 'Adventure', 'Exploration', 'Fighting', 'Novel-based', 'Economic', 'Science Fiction', 'Bluffing', 'Card Game', 'Collectible Components', 'Science Fiction', 'Ancient', 'Card Game', 'City Building', 'Civilization', 'Economic', 'Card Game', 'Civilization', 'Economic', 'Science Fiction', 'Space Exploration', 'Card Game', 'City Building', 'Civilization', 'Industry / Manufacturing', 'Renaissance', 'Science Fiction', 'Economic', 'Economic', 'Farming', 'Industry / Manufacturing', 'Animals', 'Environmental', 'Prehistoric', 'City Building', 'Economic', 'Renaissance', 'Pike and Shot', 'Territory Building', 'Transportation', 'Animals', 'Arabian', 'Fantasy', 'Mythology', 'Adventure', 'Dice', 'Fantasy', 'City Building', 'Fantasy', 'Adventure', 'Fantasy', 'City Building', 'Economic', 'Medieval', 'Ancient', 'City Building', 'Economic', 'Industry / Manufacturing', 'Political', 'Medieval', 'Pike and Shot', 'Civilization', 'Negotiation', 'Political', 'Science Fiction', 'Space Exploration', 'Wargame', 'Bluffing', 'Fantasy', 'Miniatures', 'Mythology', 'Negotiation', 'Wargame', 'Adventure', 'Fantasy', 'Fighting', 'Horror', 'Novel-based', 'Travel', 'Action / Dexterity', 'Card Game', 'Collectible Components', 'Comic Book / Strip', 'Economic', 'Animals', 'Economic', 'Farming', 'Card Game', 'Medieval', 'Bluffing', 'Deduction', 'Movies / TV / Radio theme', 'Political', 'Science Fiction', 'Space Exploration', 'Spies/Secret Agents', 'City Building', 'Medieval', 'Dice', 'Economic', 'Medieval', 'Card Game', 'Fantasy', 'Fighting', 'Science Fiction', 'Medieval', '1009', 'Puzzle', 'Economic', 'Exploration', 'Card Game', 'Deduction', 'Party Game', 'Spies/Secret Agents', 'Word Game', 'Industry / Manufacturing', 'Trains', 'Civilization', 'Dice', 'Economic', 'Science Fiction', 'Space Exploration', 'Deduction', 'Murder/Mystery', 'Novel-based', 'Post-Napoleonic', 'Spies/Secret Agents', 'Ancient', 'Civilization', 'Territory Building', 'Medieval', 'Renaissance', 'Ancient', 'Political', 'City Building', 'Economic', 'Exploration', 'Science Fiction', 'Space Exploration', 'Territory Building', 'Card Game', 'Medieval', 'Medical', 'Medical', 'Ancient', 'Fighting', 'Miniatures', 'Mythology', 'Wargame', 'Medieval', 'Economic', 'Adventure', 'Dice', 'Fantasy', 'Fighting', 'Medieval', 'Mythology', 'Pike and Shot', 'Aviation / Flight', 'Bluffing', 'Collectible Components', 'Miniatures', 'Movies / TV / Radio theme', 'Science Fiction', 'Wargame', 'Economic', 'Adventure', 'Fantasy', 'Fighting', 'Miniatures', 'Novel-based', 'Bluffing', 'Fighting', 'Miniatures', 'Science Fiction', 'Wargame', 'Dice', 'Economic', 'Prehistoric']