In [1]:
import pandas as pd
import numpy as np

In [2]:
folder= './Data'

df_bgame = pd.read_csv(folder+'/BggGames.csv')

print('Total of boardgames: ' + str(df_bgame.bgg_id.nunique()))
df_bgame.head()

Total of boardgames: 95530

,bgg_id,name,year,game_type,designer,artist,publisher,min_players,max_players,min_players_rec,...,stddev_rating,bayes_rating,complexity,language_dependency,bga_id,dbpedia_id,luding_id,spielen_id,wikidata_id,wikipedia_id
0,1,Die Macher,1986.0,5497,1,"12517,4959","133,2,2726,15108,39249,11652,5382,8147",3.0,5.0,4.0,...,1.58914,7.14730,4.3347,1.152778,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Dragonmaster,1981.0,5497,8384,12424,"64,20",3.0,4.0,3.0,...,1.44458,5.80514,1.9630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Samurai,1998.0,5497,2,11883,"17,133,267,29,7340,7335,41,2973,4617,1391,8291...",2.0,4.0,2.0,...,1.18374,7.24612,2.4916,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Tal der Könige,1992.0,NaN,8008,2277,37,2.0,4.0,2.0,...,1.23365,5.70180,2.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Acquire,1964.0,5497,4,"12658,18317","92,5,4871,3082,858,2962,5392,4668,38,4622,7107",2.0,6.0,3.0,...,1.33541,7.16306,2.5057,1.090278,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_bgame.columns

Index(['bgg_id', 'name', 'year', 'game_type', 'designer', 'artist',
       'publisher', 'min_players', 'max_players', 'min_players_rec',
       'max_players_rec', 'min_players_best', 'max_players_best', 'min_age',
       'min_age_rec', 'min_time', 'max_time', 'category', 'mechanic',
       'cooperative', 'compilation', 'compilation_of', 'family',
       'implementation', 'integration', 'rank', 'num_votes', 'avg_rating',
       'stddev_rating', 'bayes_rating', 'complexity', 'language_dependency',
       'bga_id', 'dbpedia_id', 'luding_id', 'spielen_id', 'wikidata_id',
       'wikipedia_id'],
      dtype='object')

In [4]:
# In this test we will only use the Top100 games
# (1) We select the columns we need
# (2) We filter through the Top100
# (3) We count the number of categories
# (4) If necessary, we establish a relationship to see which categories
# (5) We made the matrix with numerical information
# (6) Cosine similarity and euclidean distance based on a game

In [5]:
df_bgame = pd.read_csv(folder+'/BggGames.csv', usecols= ['bgg_id','name','category','rank'])

df_bgame.head(10)

   bgg_id                name        category    rank
0       1          Die Macher  1021,1026,1001   262.0
1       2        Dragonmaster       1002,1010  3473.0
2       3             Samurai       1009,1035   199.0
3       4      Tal der Könige            1050  4584.0
4       5             Acquire            1021   254.0
5       6  Mare Mediterraneum       1015,1008  9415.0
6       7           Cathedral            1009  1776.0
7       8   Lords of Creation       1015,1010  7799.0
8       9        El Caballero            1020  2521.0
9      10           Elfenland       1010,1097   972.0

In [47]:
df_bgame100= df_bgame[df_bgame['rank']<=100].sort_values('rank')
df_bgame100.head(50)

,bgg_id,name,category,rank
66090,174430,Gloomhaven,"1022,1020,1010,1046,1047",1.0
62878,161936,Pandemic Legacy: Season 1,"1084,2145",2.0
76339,224517,Brass: Birmingham,"1021,1088,1011",3.0
64259,167791,Terraforming Mars,"1021,1084,1088,1016,1113,1086",4.0
68241,182028,Through the Ages: A New Story of Civilization,"1002,1015,1021",5.0
78218,233078,Twilight Imperium (Fourth Edition),"1015,1021,1026,1001,1016,1113,1019",6.0
75669,220308,Gaia Project,"1021,1016,1113,1086",7.0
69555,187645,Star Wars: Rebellion,"1102,1046,1047,1064,1016,1019",8.0
10825,12333,Twilight Struggle,"1069,1001,1019",9.0
70890,193738,Great Western Trail,"1055,1089",10.0
64762,169786,Scythe,"1021,1046,1016,1086",11.0
50388,115746,War of the Ring: Second Edition,"1022,1010,1046,1047,1093,1086,1019",12.0
63117,162886,Spirit Island,"2726,1084,1010,1046,1082,1086",13.0
44268,84876,The Castles of Burgundy,"1017,1035,1086",14.0
51459,120677,Terra Mystica,"1015,1021,1010,1086",15.0
65766,173346,7 Wonders Duel,"1050,1002,1029,1015",16.0
52464,124361,Concordia,"1050,1021,1008",17.0
25001,28720,Brass: Lancashire,"1021,1088,1011",18.0
73174,205637,Arkham Horror: The Card Game,"1022,1002,1044,1010,1024,1093",19.0
85154,266192,Wingspan,"1089,1002,1094",20.0
68620,183394,Viticulture Essential Edition,"1021,1013",21.0
67766,180263,The 7th Continent,"1022,1002,1020,1016",22.0
67096,177736,A Feast for Odin,"1021,1088,1035,1028",23.0
46597,96848,Mage Knight Board Game,"1022,1020,1010,1046",24.0
63677,164928,Orléans,"1035,1115,1097",25.0
2642,3076,Puerto Rico,"1029,1021,1013",26.0
47766,102794,Caverna: The Cave Farmers,"1089,1021,1010,1013",27.0
66530,175914,Food Chain Magnate,"1021,1088",28.0
27198,31260,Agricola,"1089,1021,1013",29.0
73059,205059,Mansions of Madness: Second Edition,"1022,1020,1010,1046,1024,1047,1040,1028",30.0
64163,167355,Nemesis,"1022,1024,1047,1016",31.0
64858,170216,Blood Rage,"1010,1046,1082",32.0
75813,221107,Pandemic Legacy: Season 2,"1084,1020,2145",33.0
79044,237182,Root,"1089,1010,1019",34.0
38371,55690,Kingdom Death: Monster,"1022,1010,1024,1118,1047,1082",35.0
2278,2651,Power Grid,"1021,1088",36.0
73784,209010,Mechs vs. Minions,"1010,1046,1047,1101",37.0
63472,164153,Star Wars: Imperial Assault,"1022,1046,1047,1064,1016,1019",38.0
52931,126163,Tzolk'in: The Mayan Calendar,"1050,1015,1021,1013,1082",39.0
22288,25613,Through the Ages: A Story of Civilization,"1015,1021",40.0
72029,199792,Everdell,"1089,1002,1029,1010",41.0
74838,216132,Clans of Caledonia,"1021,1013",42.0
42870,72125,Eclipse,"1015,1046,1016,1113,1019",43.0
31002,35677,Le Havre,"1029,1021,1088,1008",44.0
77695,230802,Azul,"1009,1070",45.0
65239,171623,The Voyages of Marco Polo,"1017,1021,1035,1097",46.0
51766,121921,Robinson Crusoe: Adventures on the Cursed Island,"1022,1020,1046,1093",47.0
69106,185343,Anachrony,"1021,1016",48.0
52600,124742,Android: Netrunner,"1023,1002,1044,1016",49.0
42005,68448,7 Wonders,"1050,1002,1029,1015,1021",50.0

In [7]:
category_num= ','.join(df_bgame100.category).split(',')

print(np.unique(category_num))
print('Total Categories in Top 100 Boardgames: ' + str(len(np.unique(category_num))))

['1001' '1002' '1008' '1009' '1010' '1011' '1013' '1015' '1016' '1017'
 '1019' '1020' '1021' '1022' '1023' '1024' '1025' '1026' '1028' '1029'
 '1030' '1032' '1034' '1035' '1036' '1039' '1040' '1044' '1046' '1047'
 '1050' '1052' '1055' '1064' '1069' '1070' '1081' '1082' '1084' '1086'
 '1088' '1089' '1093' '1094' '1097' '1101' '1102' '1113' '1115' '1116'
 '1118' '2145' '2650' '2710' '2726']
Total Categories in Top 100 Boardgames: 55

In [8]:

df_cat = pd.read_csv(folder+'/CategoriesID.csv',sep=';', usecols=['Category','IdCat'])
df_cat.head(10)

                     Category   IdCat
0                Not category  '0000'
1           Abstract Strategy    1009
2          Action / Dexterity    1032
3                   Adventure    1022
4               Age of Reason    2726
5          American Civil War    1048
6        American Indian Wars    1108
7  American Revolutionary War    1075
8               American West    1055
9                     Ancient    1050

In [11]:
df_category= df_bgame100.copy(deep= True)

df_category['Abstract Strategy']= df_category.category.apply(lambda x: 1 if '1009' in x else 0)
df_category['Action / Dexterity']= df_category.category.apply(lambda x: 1 if '1032' in x else 0)
df_category['Adventure']= df_category.category.apply(lambda x: 1 if '1022' in x else 0)
df_category['Age of Reason']= df_category.category.apply(lambda x: 1 if '2726' in x else 0)
df_category['American West']= df_category.category.apply(lambda x: 1 if '1055' in x else 0)
df_category['Ancient']= df_category.category.apply(lambda x: 1 if '1050' in x else 0)
df_category['Animals']= df_category.category.apply(lambda x: 1 if '1089' in x else 0)
df_category['Arabian']= df_category.category.apply(lambda x: 1 if '1052' in x else 0)
df_category['Aviation / Flight']= df_category.category.apply(lambda x: 1 if '2650' in x else 0)
df_category['Bluffing']= df_category.category.apply(lambda x: 1 if '1023' in x else 0)
df_category['Card Game']= df_category.category.apply(lambda x: 1 if '1002' in x else 0)
df_category['City Building']= df_category.category.apply(lambda x: 1 if '1029' in x else 0)
df_category['Civil War']= df_category.category.apply(lambda x: 1 if '1102' in x else 0)
df_category['Civilization']= df_category.category.apply(lambda x: 1 if '1015' in x else 0)
df_category['Collectible Components']= df_category.category.apply(lambda x: 1 if '1044' in x else 0)
df_category['Comic Book / Strip']= df_category.category.apply(lambda x: 1 if '1116' in x else 0)
df_category['Deduction']= df_category.category.apply(lambda x: 1 if '1039' in x else 0)
df_category['Dice']= df_category.category.apply(lambda x: 1 if '1017' in x else 0)
df_category['Economic']= df_category.category.apply(lambda x: 1 if '1021' in x else 0)
df_category['Educational']= df_category.category.apply(lambda x: 1 if '1094' in x else 0)
df_category['Environmental']= df_category.category.apply(lambda x: 1 if '1084' in x else 0)
df_category['Exploration']= df_category.category.apply(lambda x: 1 if '1020' in x else 0)
df_category['Fantasy']= df_category.category.apply(lambda x: 1 if '1010' in x else 0)
df_category['Farming']= df_category.category.apply(lambda x: 1 if '1013' in x else 0)
df_category['Fighting']= df_category.category.apply(lambda x: 1 if '1046' in x else 0)
df_category['Horror']= df_category.category.apply(lambda x: 1 if '1024' in x else 0)
df_category['Industry / Manufacturing']= df_category.category.apply(lambda x: 1 if '1088' in x else 0)
df_category['Mature / Adult']= df_category.category.apply(lambda x: 1 if '1118' in x else 0)
df_category['Medical']= df_category.category.apply(lambda x: 1 if '2145' in x else 0)
df_category['Medieval']= df_category.category.apply(lambda x: 1 if '1035' in x else 0)
df_category['Miniatures']= df_category.category.apply(lambda x: 1 if '1047' in x else 0)
df_category['Modern Warfare']= df_category.category.apply(lambda x: 1 if '1069' in x else 0)
df_category['Movies / TV / Radio theme']= df_category.category.apply(lambda x: 1 if '1064' in x else 0)
df_category['Murder/Mystery']= df_category.category.apply(lambda x: 1 if '1040' in x else 0)
df_category['Mythology']= df_category.category.apply(lambda x: 1 if '1082' in x else 0)
df_category['Negotiation']= df_category.category.apply(lambda x: 1 if '1026' in x else 0)
df_category['Novel-based']= df_category.category.apply(lambda x: 1 if '1093' in x else 0)
df_category['Party Game']= df_category.category.apply(lambda x: 1 if '1030' in x else 0)
df_category['Pike and Shot']= df_category.category.apply(lambda x: 1 if '1070' in x else 0)
df_category['Political']= df_category.category.apply(lambda x: 1 if '1001' in x else 0)
df_category['Post-Napoleonic']= df_category.category.apply(lambda x: 1 if '2710' in x else 0)
df_category['Prehistoric']= df_category.category.apply(lambda x: 1 if '1036' in x else 0)
df_category['Puzzle']= df_category.category.apply(lambda x: 1 if '1028' in x else 0)
df_category['Religious']= df_category.category.apply(lambda x: 1 if '1115' in x else 0)
df_category['Renaissance']= df_category.category.apply(lambda x: 1 if '1008' in x else 0)
df_category['Science Fiction']= df_category.category.apply(lambda x: 1 if '1016' in x else 0)
df_category['Space Exploration']= df_category.category.apply(lambda x: 1 if '1113' in x else 0)
df_category['Spies/Secret Agents']= df_category.category.apply(lambda x: 1 if '1081' in x else 0)
df_category['Territory Building']= df_category.category.apply(lambda x: 1 if '1086' in x else 0)
df_category['Trains']= df_category.category.apply(lambda x: 1 if '1034' in x else 0)
df_category['Transportation']= df_category.category.apply(lambda x: 1 if '1011' in x else 0)
df_category['Travel']= df_category.category.apply(lambda x: 1 if '1097' in x else 0)
df_category['Video Game Theme']= df_category.category.apply(lambda x: 1 if '1101' in x else 0)
df_category['Wargame']= df_category.category.apply(lambda x: 1 if '1019' in x else 0)
df_category['Word Game']= df_category.category.apply(lambda x: 1 if '1025' in x else 0)

df_category = df_category.drop(['category','rank'], axis=1)
df_category.head(10)

,bgg_id,name,Abstract Strategy,Action / Dexterity,Adventure,Age of Reason,American West,Ancient,Animals,Arabian,...,Science Fiction,Space Exploration,Spies/Secret Agents,Territory Building,Trains,Transportation,Travel,Video Game Theme,Wargame,Word Game
66090,174430,Gloomhaven,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62878,161936,Pandemic Legacy: Season 1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76339,224517,Brass: Birmingham,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
64259,167791,Terraforming Mars,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,0
68241,182028,Through the Ages: A New Story of Civilization,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78218,233078,Twilight Imperium (Fourth Edition),0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
75669,220308,Gaia Project,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,0
69555,187645,Star Wars: Rebellion,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
10825,12333,Twilight Struggle,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
70890,193738,Great Western Trail,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df_category.columns

Index(['bgg_id', 'name', 'Abstract Strategy', 'Action / Dexterity',
       'Adventure', 'Age of Reason', 'American West', 'Ancient', 'Animals',
       'Arabian', 'Aviation / Flight', 'Bluffing', 'Card Game',
       'City Building', 'Civil War', 'Civilization', 'Collectible Components',
       'Comic Book / Strip', 'Deduction', 'Dice', 'Economic', 'Educational',
       'Environmental', 'Exploration', 'Fantasy', 'Farming', 'Fighting',
       'Horror', 'Industry / Manufacturing', 'Mature / Adult', 'Medical',
       'Medieval', 'Miniatures', 'Modern Warfare', 'Movies / TV / Radio theme',
       'Murder/Mystery', 'Mythology', 'Negotiation', 'Novel-based',
       'Party Game', 'Pike and Shot', 'Political', 'Post-Napoleonic',
       'Prehistoric', 'Puzzle', 'Religious', 'Renaissance', 'Science Fiction',
       'Space Exploration', 'Spies/Secret Agents', 'Territory Building',
       'Trains', 'Transportation', 'Travel', 'Video Game Theme', 'Wargame',
       'Word Game'],
      dtype='object')

In [16]:
import warnings
warnings.filterwarnings("ignore")

vector_features=df_category[['Abstract Strategy', 'Action / Dexterity',
       'Adventure', 'Age of Reason', 'American West', 'Ancient', 'Animals',
       'Arabian', 'Aviation / Flight', 'Bluffing', 'Card Game',
       'City Building', 'Civil War', 'Civilization', 'Collectible Components',
       'Comic Book / Strip', 'Deduction', 'Dice', 'Economic', 'Educational',
       'Environmental', 'Exploration', 'Fantasy', 'Farming', 'Fighting',
       'Horror', 'Industry / Manufacturing', 'Mature / Adult', 'Medical',
       'Medieval', 'Miniatures', 'Modern Warfare', 'Movies / TV / Radio theme',
       'Murder/Mystery', 'Mythology', 'Negotiation', 'Novel-based',
       'Party Game', 'Pike and Shot', 'Political', 'Post-Napoleonic',
       'Prehistoric', 'Puzzle', 'Religious', 'Renaissance', 'Science Fiction',
       'Space Exploration', 'Spies/Secret Agents', 'Territory Building',
       'Trains', 'Transportation', 'Travel', 'Video Game Theme', 'Wargame',
       'Word Game']]

vector_features['features'] = vector_features.apply(lambda x: np.array(x), axis=1)
df_category_vf = df_category[['bgg_id', 'name']]
df_category_vf['features'] = vector_features['features']
df_category_vf

,bgg_id,name,features
66090,174430,Gloomhaven,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
62878,161936,Pandemic Legacy: Season 1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
76339,224517,Brass: Birmingham,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
64259,167791,Terraforming Mars,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
68241,182028,Through the Ages: A New Story of Civilization,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, ..."
...,...,...,...
47996,103885,Star Wars: X-Wing Miniatures Game,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, ..."
71415,196340,Yokohama,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
85820,269385,The Lord of the Rings: Journeys in Middle-earth,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
66279,175155,Forbidden Stars,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
30098,34635,Stone Age,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [54]:
i = 77695 
game = df_category_vf.name[i]
print('Similar Boardgames: ' + str(game))

x = df_category_vf.features[i]

df_category_vf['euclidean'] = df_category_vf.features.apply(lambda y: np.sqrt(np.dot(x, x) - 2 * np.dot(x, y) + np.dot(y, y)))
df_category_vf['cosine'] = df_category_vf.features.apply(lambda y: np.dot(x, y) / (np.sqrt(np.dot(x,x)) * np.sqrt(np.dot(y,y))))

df_category_vf.head()

Similar Boardgames: Azul

,bgg_id,name,features,euclidean,cosine
66090,174430,Gloomhaven,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2.645751,0.0
62878,161936,Pandemic Legacy: Season 1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2.000000,0.0
76339,224517,Brass: Birmingham,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2.236068,0.0
64259,167791,Terraforming Mars,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2.828427,0.0
68241,182028,Through the Ages: A New Story of Civilization,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, ...",2.236068,0.0

In [55]:
df_category_vf[df_category_vf['cosine']<= 1.1].sort_values('cosine', ascending=False).head(10)

,bgg_id,name,features,euclidean,cosine
77695,230802,Azul,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.000000,1.000000
72883,203993,Lorenzo il Magnifico,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.000000,0.707107
63277,163412,Patchwork,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.414214,0.500000
85,93,El Grande,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.414214,0.500000
51902,122515,Keyflower,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",2.449490,0.288675
66090,174430,Gloomhaven,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2.645751,0.000000
10959,12493,Twilight Imperium (Third Edition),"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",2.828427,0.000000
32303,37111,Battlestar Galactica: The Board Game,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",3.000000,0.000000
35375,40834,Dominion: Intrigue,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",2.000000,0.000000
72250,200680,Agricola (Revised Edition),"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",2.236068,0.000000

In [56]:
df_category_vf.sort_values('euclidean', ascending=True).head(10)

,bgg_id,name,features,euclidean,cosine
77695,230802,Azul,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.000000,1.000000
72883,203993,Lorenzo il Magnifico,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.000000,0.707107
63277,163412,Patchwork,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.414214,0.500000
85,93,El Grande,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.414214,0.500000
80444,244521,The Quacks of Quedlinburg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.732051,0.000000
26599,30549,Pandemic,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.732051,0.000000
52715,125153,The Gallerist,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.732051,0.000000
71885,198928,Pandemic: Iberia,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.732051,0.000000
85274,266810,Paladins of the West Kingdom,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.732051,0.000000
68490,182874,Grand Austria Hotel,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.732051,0.000000